.titleBlock {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  user-select: none;
}
.button {
  padding: 1px 6px;
  transition: all 0.5s linear;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  text-decoration: none;
}
.open {
  color: var(--activeColor);
  transition: all 0.5s linear;
}
.close {
  color: var(--textColor);
  transition: all 0.5s linear;
}
.title {
  .titleText {
    color: var(--textColor);
  }
}
.title_active {
  color: var(--activeColor);
}
.elementsList {
  transition: all 0.5s linear;
  padding: 0 0 0 22px;
  display: none;
}
.elementsList_active {
  transition: all 0.5s linear;
  display: flex;
  padding: 0 0 0 22px;
  flex-direction: column;
  font-size: 1rem;
}
