.hello {
  border-left: solid 1px var(--textColor);
  border-right: solid 1px var(--textColor);
  user-select: none;
  background: var(--bgColor);
  color: white;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  width: 800px;
}
.name {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 81px;
}
.position {
  color: var(--blueColor);
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 450;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 80px;
}
.git {
  color: var(--textColor);
  margin-bottom: 10px;
}
.iconRed {
  color: var(--redColor);
}
.iconGreen {
  color: var(--greenColor);
}
.iconBlue {
  color: var(--blueColor);
}

