.item {
  flex: 0 1 auto;
  width: 350px;
  margin-bottom: 40px;
}
.title {
  font-size: 1rem;
}
.count {
  color: var(--blueColor);
}

.block {
  flex: 1 1 auto;
  position: relative;
  display: flex;
flex-direction: column;

  margin-top: 10px;
  border: solid 1px var(--textColor);
  height: 100%;
  border-radius: 10px;
}
.photo {
  height: 50%;
  border-radius: 10px 10px 0 0;
  position: relative;
  height: 200px;
  width: 100%;
}
.text{
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 21px 31px 31px 31px;
  display: flex;
  flex-direction: column;
}
p{
  margin: 0;
  padding: 0;
}
.technologies{
  color:var(--activeColor);
}
.buttonBlock{
  margin-top: 20px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  gap: 10px;
  left: 8.37%;
  right: 56.8%;
  top: 77.91%;
  bottom: 10.02%;
  background: var(--btnColor);
  color: var(--textColor);
  text-decoration: none;
  border-radius: 8px;
  &:hover{
    background: var(--btnHoverColor);
  }
}

.image {
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
