$bgColor: #011627;
$textColor: #607b96;
$activeColor: #ffffff;

.titleBlock {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  user-select: none;
}
.button {
  transition: all 0.5s linear;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}
.open {
  color: $activeColor;
  transition: all 0.5s linear;
}
.close {
  color: #607b96;
  transition: all 0.5s linear;
}
.title {
  .titleText {
    color: $textColor;
  }
}
.title_active {
  color: $activeColor;
}
.elementsList {
  transition: all 0.5s linear;
  padding: 0 0 0 22px;
  display: none;
}
.elementsList_active {
  transition: all 0.5s linear;
  display: flex;
  padding: 0 0 0 22px;
  flex-direction: column;
  font-size: 1rem;
}
