$bgColor: #011627;
$textColor: #607b96;
$activeColor: #ffffff;

.titleBlock {
  border-bottom: solid 1px $textColor;
  width: 100%;
  padding: 10px 22px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
}
.button {
  transition: all 0.5s linear;
  background: none;
  border: none;
}
.open {
  color: $activeColor;
  transition: all 0.5s linear;
}
.close {
  color: #607b96;
  transition: all 0.5s linear;
}
.title_active {
  color: $activeColor;
}
.elementsList {
  transition: all 0.5s linear;
  padding: 0 22px;
  padding-top: 10px;
  display: none;
}
.elementsList_active {
  transition: all 0.5s linear;
  display: flex;
  padding: 0 22px;
  padding-top: 10px;
  flex-direction: column;
  font-size: 1rem;
}
