.titleBlock {
  border-bottom: solid 1px var(--textColor);
  width: 100%;
  padding: 10px 22px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
}
.button {
  transition: all 0.5s linear;
  background: none;
  border: none;
}
.open {
  color: var(--activeColor);
  transition: all 0.5s linear;
}
.close {
  color: var(--textColor);
  transition: all 0.5s linear;
}
.title_active {
  color: var(--activeColor);
}
.elementsList {
  transition: all 0.5s linear;
  padding: 0 22px;
  padding-top: 10px;
  display: none;
}
.elementsList_active {
  border-bottom: solid 1px var(--textColor);
  transition: all 0.5s linear;
  display: flex;
  padding: 0 22px;
  padding-top: 10px;
  flex-direction: column;
  font-size: 1rem;
}
