
.container{
  box-sizing: border-box;
  font-size: 1rem;
}
.container{}
.repoInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user{
  display: flex;
}
.userPhoto{
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.userText{
  margin-left: 11px;
}
.userName{
  color: var(--blueColor);
  font-weight: 700;
}
.repoDate{}
.stars{}
.icon{}