.container{
  padding: 22px;
  flex-grow: 1;
  border-right: solid 1px var(--textColor);
  overflow: auto;
  @media (max-width: 1500px) {
    overflow:visible;
  }
}

.iconRed {
  color: var(--redColor);
}
.iconGreen {
  color: var(--greenColor);
}
.iconBlue {
  color: var(--blueColor);
}

