.board {
  flex: 1 1 auto;
  position: relative;
  border-right: solid 1px var(--textColor);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Создаем три колонки с равной шириной */
  gap: 20px;
  padding: 50px 50px;
  overflow: auto;
  height: 100%;
  @media (max-width: 1270px) { 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    padding: 0 20px;
    padding-bottom: 50px;
  }

  @media (max-width: 768px) { 
    grid-template-columns: minmax(0, 1fr); 
    padding: 0 10px; 
    padding-bottom: 50px;
  }
}

.title {
  //position: fixed;
  width: 100%;
  padding: 10px 22px;
  font-size: 1rem;
  background: var(--bgColor);
  border-bottom: solid 1px var(--textColor);
  //z-index: 999;
}
