


.board {
  flex: 1 1 auto;
  position: relative;
  border-right: solid 1px var(--textColor);
}
.wrapper{
  padding: 50px;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
   gap: 40px;
   justify-content: center
  //display: flex;

}
.title {
  //position: fixed;
  width: 100%;
  padding: 10px 22px;
  font-size: 1rem;
  background: var(--bgColor);
  border-bottom: solid 1px var(--textColor);
  //z-index: 999;
}
