.header {
  width: 100%;
  flex: 0 0;
  font-size: 1rem;
  box-sizing: border-box;
  border: solid 1px var(--textColor);
  border-radius: 10px 10px 0 0;
  background-color: var(--bgColor);
  color: var(--textColor);
}
.name {
  padding: 17px 22px;
  padding-right: 100px;
  height: 100%;
  border-right: solid 1px var(--textColor);
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLink {
  cursor: pointer;
  color: var(--textColor);
  text-decoration: none;
  padding: 17px 31px;
  border-right: solid 1px var(--textColor);
}
.activeLink {
  cursor: pointer;
  text-decoration: none;
  color: var(--activeColor);
  padding: 17px 31px;
  border-right: solid 1px var(--textColor);
  border-bottom: 3px solid var(--underlineColor);
}
.contact {
  padding: 17px 22px;
  border-left: solid 1px var(--textColor);
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
