.header {
  width: 100%;
  flex: 0 0;
  font-size: 1rem;
  box-sizing: border-box;
  border: solid 1px var(--textColor);
  border-radius: 10px 10px 0 0;
  background-color: var(--bgColor);
  color: var(--textColor);
}
.name {
  padding: 17px 22px;
  padding-right: 100px;
  height: 100%;
  border-right: solid 1px var(--textColor);
  @media (max-width: 970px) {
    display: none;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLink {
  cursor: pointer;
  color: var(--textColor);
  text-decoration: none;
  padding: 17px 31px;
  border-right: solid 1px var(--textColor);
  @media (max-width: 970px) {
    border-right: none;
  }
}
.activeLink {
  cursor: pointer;
  text-decoration: none;
  color: var(--activeColor);
  padding: 17px 31px;
  border-right: solid 1px var(--textColor);
  border-bottom: 3px solid var(--underlineColor);
  @media (max-width: 970px) {
    border-right: none;
  }
}
.contact {
  padding: 17px 22px;
  border-left: solid 1px var(--textColor);
  transition: all 1s ease 0s;
  cursor: pointer;
  @media (max-width: 970px) {
    border-left: none;
  }
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  transition: all 1s ease 0s;

  @media (max-width: 970px) {
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: var(--bgColor);
    left: -100%;
    top: 60px;
    gap: 60px;
    padding: 10px;
    padding-bottom: 35px;
    padding-top: 32px;
    flex-direction: column;
    overflow: auto;
  }
}
.menuOpen {
  left: 0;
}

@media (max-width: 970px) {
}

.burger {
  display: none;

  @media (max-width: 970px) {
    display: block;
    border: none;
    outline: none;
    background-color: #ffffff00;
    z-index: 5;
    position: relative;
    height: 16px;
    width: 24px;
    cursor: pointer;
    z-index: 10;
    margin-right: 16px;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 15%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
      top: 0;
      left: 0px;
    }

    &::after {
      content: '';
      left: 0px;
      bottom: 0px;
      position: absolute;
      width: 100%;
      height: 15%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
    }

    span {
      content: '';
      position: absolute;
      left: 0px;
      top: 50%;
      width: 100%;
      height: 15%;
      background-color: #fff;
      transition: all 0.3s ease 0s;
      transform: translate(0px, -50%);
    }
  }
}
.active {
  &::before {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
  span {
    width: 0px;
  }
  &::after {
    bottom: 50%;
    transform: rotate(-45deg) translate(0px, 50%);
  }
}

.burgerBlure {
  position: fixed;
  background: rgba(0, 0, 0, 0.539);
  z-index: 3;
  top: 0;
  width: 100vw;
  height: 100vh;
}
