.app-home{

  position: relative;
  content: '';
  height: 100%;
  width: 100%;
  
}
.circle{
  
  &__0{
  
  }
  &__1{
    position: absolute;
    bottom: 70%;

    right: 45%;
    font-size: 1rem;

    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    color: #2449D8;
  background: #25262A;

  }
  &__2{
    position: absolute;
    bottom: 50%;

    right: 18%;
    font-size: 2rem;

    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    color: #D84924;
  background: #25262A;

  }
  &__3{
    position: absolute;
    bottom: 15%;

    right: 50%;
    font-size: 4rem;

    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    color: #5CCFEE;
  background: #25262A;

  }
  &__4{
   position: absolute;
   bottom: 7%;
   right: 10%;
   font-size: 5rem;
    color: #64985F;

    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
  background: #25262A;

  }
}