.list {
  flex: 0 1 auto;
  min-width: 245px;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  border-left: solid 1px var(--textColor);
  border-right: solid 1px var(--textColor);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.iconRed {
  color: var(--redColor);
}
.iconGreen {
  color: var(--greenColor);
}
.iconBlue {
  color: var(--blueColor);
}
