@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100%;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #eae9e9;

  --bgColor: #011627;
  --textColor: #607b96;
  --activeColor: #ffffff;
  --blueColor: #4d5bce;
  --greenColor: #43d9ad;
  --redColor: #e99287;
  --underlineColor: #fea55f;
  --btnColor: #1c2b3a;
  --btnHoverColor: #2d465e;
  // /* Основные цвета */
  // --primary-background-color: #ffffff;
  // --primary-text-color: #333333;
  // --primary-accent-color: #007bff;

  // /* Шрифты */
  // --heading-font: 'Helvetica', sans-serif;
  // --text-font: 'Arial', sans-serif;

  // /* Цвета элементов интерфейса */
  // --button-color: #007bff;
  // --link-color: #3498db;
  // --divider-color: #dcdcdc;

  // /* Цвета структурных элементов */
  // --heading-color: #333333;
  // --subheading-color: #555555;
  // --footer-color: #666666;

  // /* Цвета состояний */
  // --success-color: #28a745;
  // --warning-color: #ffc107;
  // --error-color: #dc3545;

  // /* Цвета форм и полей ввода */
  // --field-background-color: #f5f5f5;
  // --field-border-color: #cccccc;
  // --field-text-color: #333333;

  // /* Цвета меню и навигации */
  // --menu-background-color: #f8f8f8;
  // --active-item-color: #007bff;
  // --normal-item-color: #333333;

  // /* Цвет подсветки при наведении */
  // --hover-color: #e0e0e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  font-family: 'Fira Code', monospace;
  color: var(--textColor);
  background-image: url(./assets/bg/brett-ritchie-1vKTnwLMdqs-unsplash.jpg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

//<ПЕРЕМЕННЫЕ>==================================
$minWidht: 320px;
$maxWidht: 1152;
$maxWidhtConteiner: 1600;
$md1: $maxWidhtConteiner + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<ОСНОВНАЯ СЕТКА>===================
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: $maxWidhtConteiner + px;
  margin: 0 auto;
  // @media (max-width: #{$md1}px) {
  //   //max-width: 970px;
  // }
  // @media (max-width: #{$md2}px) {
  //   //max-width: 750px;
  // }
  // @media (max-width: #{$md3}px) {
  //   //max-width: none;
  //   padding: 0 10px;
  // }
}
